<table cTable>
  <thead cTableColor="dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">NOM</th>
    <th scope="col">EMAIL</th>
    <th scope="col">USERNAME</th>
    <th scope="col">ROLE</th>
    <th scope="col">DATE INSCRIPTION</th>
    <th scope="col">MODIFIER</th>
    <th scope="col">SUPPRIMER</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>&#64;mdo</td>
    <td>Mark</td>
    <td>Otto</td>
    <td>&#64;mdo</td>
    <td>&#64;mdo</td>

  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>&#64;fat</td>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>&#64;fat</td>
    <td>Jacob</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td colSpan="2">Larry the Bird</td>
    <td>&#64;twitter</td>
    <td colSpan="2">Larry the Bird</td>
    <td>&#64;twitter</td>
    <td colSpan="2">Larry the Bird</td>
   
  </tr>
  </tbody>
</table>